* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

.logo img {
    width: 140px !important;
    height: 40px !important;
}

nav {
    background-color: #cccccc !important;
}

.herosection {
    max-width: 100%;
    min-height: 900px;
    background-color: #f1f2f4;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5em;
}

.hero .content,
.content .left,
.pricont,
.dive .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
    height: 331px;
    padding-top: 7em;
    text-transform: capitalize;

}

.content h1,
.cardheading h1,
.coversions h1,
.templates h1,
.cont h1,
.pricont h1,
.dive .left h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.5em;
}

.hero .content h1 span,
.cardheading h1 span,
.coversions h1 span {
    width: 303px;
    height: 80px;
    background-color: yellow;
}

.content p,
.cardheading p,
.templates p,
.cont p,
.pricont p {
    width: 500px;
    padding-top: 10px;
    font-size: 16px;
}


.search {
    color: white !important;
}

.links {
    width: 390px;
    font-size: 14px;
    display: flex;
    font-weight: 600;
    gap: .8em;
    padding-top: 10px;
}

.hero .images {
    width: 525px;
    height: 590px;
    display: flex;
    position: relative;
}

.images .left {
    width: 286px;
    height: 570px;
    display: flex;
    flex-direction: column;
    /* background-color: azure; */
}

.images .right {
    width: 172px;
    height: 517px;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

.images .insta {
    position: absolute;
    top: 60%;
    left: -13%;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 20px;
    color: #9CA0AC;
    flex-wrap: wrap;

}

.logoimg {
    display: flex;
    width: 830px;
    height: 38px;
    justify-content: space-evenly;
    padding-top: 20px;

}

.logoimg img {
    width: 80px;
    height: 32px;
    align-items: center;
    justify-content: center;
}

/* socialcard */
.socialcard {
    max-width: 100%;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardheading p {
    width: 700px;
    text-align: center;
}

.social {
    width: 80%;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    align-content: center;
}

.socialcard h1 {
    text-align: center;
}

.social .cards {
    width: 200px;
    height: 150px;
    background-color: #f7f9fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.icon img {
    width: 50px;
    height: 50px;
}

.cards .detail {
    width: 174px;
    height: 52px;
    text-align: center;
    text-transform: capitalize;
}

.cards .detail h6 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
}

.cards .detail p {
    font-size: 2opx;

}

/* coversions */
.coversions {
    max-width: 100%;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f1f2f4;
    text-transform: capitalize;
    padding: 50px 0;
}

.coversions h1 {
    text-align: center;
}

.brands {
    width: 380px;
    height: 220px;
    flex: 0 0 auto !important;
    margin-top: 2em;
}

.pros {
    width: 80%;
    gap: 1em;
}

.testmonials {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

.testmonials p,
.templates p {
    width: 40%;
    text-align: center;
    padding-top: 20px;

}

/* templates */
.templates {
    max-width: 100%;
    min-height: 850px;
    background-color: #111827;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.templates h1 {
    width: 35%;
}

.templates>p {
    margin-top: -3em;
}

.democard {
    width: 310px;
    height: 350px;
    text-align: left;
}

.democard p {
    width: 100%;
    text-align: left;
    padding-top: 5px;
}

/* integrations */
.integrations {
    max-width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    max-width: 1300px;
    min-height: 540px;
    background-color: #EEF1F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 40%;
}

.cont h1 {
    margin-top: 1em;
}

.list {
    text-transform: capitalize;
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

.check {
    padding-right: 10px;
}

/* widget */
.widget {
    max-width: 100%;
    min-height: 530px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    background-color: #EEF1F7;
}

.widget .content {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.widget .left,
.firststory .left {
    width: 40%;
    padding-top: 0;
}

.widget .content .right {
    width: 60%;
    min-height: 430px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

}

.widget .content .right img {
    width: 230px;
    height: 340px;
}

/* features */
.features {
    max-width: 80% !important;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.social {
    width: 90%;
}

.features .cardheading h1 {
    text-align: center;
    align-self: center;
}

.feature {
    width: 270px;
    min-height: 240px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    margin-top: 1.5em;
    gap: 1em;
    border-radius: 10px;
}

.feature .detail h6 {
    font-size: 20px;
    font-weight: 700;
}

/* firststory */
.firststory {
    max-width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story {
    background-color: #111827;
    border-radius: 10px;
    color: white;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.story .left {
    width: 45%;
    height: 255px;


}

.storyimg {
    width: 45%;
    height: 400px;
}

.storyimg img {
    width: 100%;
    height: 100%;
}

/* reviews */
.reviews {
    max-width: 80%;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review {
    height: 400px;
    justify-content: flex-start;
    position: relative;
}

.review h6 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.review .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    padding-top: 10px;

}

.detail .img {
    position: absolute;
    bottom: 10%;
}

/* packages */
.packages {
    max-width: 100%;
    background-color: #EEF1F7;
    min-height: 1853px;
}

.inner-card {
    display: inline-flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}


.inner-card:hover {
    border: 6px solid #0066FF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card1:hover .pro {
    display: block !important;
}

.card1:hover .btn {
    background-color: #0066FF;
    color: white;
}

.pricont {
    width: 100%;
}

.pricont .buttons {
    width: 284px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


/* companylogo */

.companylogo {
    max-width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

.companylogo .image {
    width: 45%;
    min-height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.image img {
    display: flex;
    opacity: .5;
    width: 76px;
    height: 35px;
    margin: 10px
}

.companylogo .cardheading {
    padding-top: 70px;
    width: 60%;
    text-align: center;
}

.companylogo p {
    text-align: center;
    margin: 0 auto;
}

/* dive */
.dive {
    max-width: 100%;
    min-height: 500px;
    background-color: #EEF1F7;
    padding-top: 0;
}

.dive .left p {
    width: 70%;
}

/* footer */
.footer {
    background-color: #111827;
    display: flex;
    align-items: center;
    padding: 70px 145px;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #4295ee;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #4295ee;
    transition: all 0.5s ease;
    background-color: #dfdfdf;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #4295ee;
}



@media(max-width: 1280px) {

    .templates h1 {
        width: 47%;
    }

    .widget {
        padding: 4em 0;
    }

    .widget .content {
        flex-direction: column;
        padding: 40px 0;
        text-align: center;
    }

    .widget .left {
        width: 60%;
        text-align: center;
        align-items: center;
    }

    .widget .content .right {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .widget .input {
        width: 65%;
    }

    .widget .links {
        justify-content: center;
    }

    .widget .content .right {
        width: 80%;
    }

    .templates {
        padding: 40px 0;
    }

    .features {
        padding: 5em 0;
    }

    .companylogo .image {
        width: 70%;
    }

    .packages {
        padding: 2em;
    }

    .reviews {
        padding: 4em 0;
    }
}

@media(max-width: 1150px) {

    .templates h1,
    .conversions h1 {
        width: 50%;
        font-size: 20px;
    }

    .socialcard {
        padding: 30px 0;
    }

}

@media (max-width: 1000px) {

    .hero {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        gap: 8em;
    }

    .hero .images {
        padding-top: 2em;
        flex-wrap: nowrap;
    }

    .hero .content {
        width: 70%;
        text-align: center;
        padding-top: 5em;
        align-items: center;
    }

    .links {
        justify-content: center;
    }

    .logoimg {
        flex-wrap: wrap;
        width: 70%;
        padding-top: 3em;
        gap: 2em;
    }

    .templates {
        padding: 30px 0;
    }

    .section {
        flex-direction: column;
        padding: 40px 0;
        text-align: center;
        align-items: center;
    }

    .section .cont {
        width: 60%;
    }

    .section .cont p {
        width: 100%;
    }

    .features {
        padding: 10px;
    }

    .integrations {
        padding: 2em 0;
    }

    .story {
        flex-direction: column;
    }

    .story .left {
        width: 80%;
        text-align: center;
        padding: 1em;
    }



    .storyimg {
        width: 80%;
    }

    .packages {
        padding: 2em;
    }

    .faqs .pricont {
        padding-top: 1em;
    }
}

@media(max-width: 870px) {

    .templates h1,
    .conversions h1 {
        width: 70%;
        font-size: 20px;
    }

    .templates p,
    .conversions p {
        width: 70%;
    }

    .socialcard {
        padding: 30px 0;
    }

    .footer {
        padding: 40px 70px;
    }

}

@media(max-width: 840px) {
    .hero .content {
        width: 80%;
    }



    .widget .content .right {
        padding-top: 5em;
    }

    .cardheading h1 {
        text-align: center;
        padding-top: 3em;
    }

    .features {
        padding: 0;
        justify-content: flex-start;
        padding-top: 4em;
    }

    .features .cardheading h1 {
        padding-top: 0;
    }

    .widget .input {
        width: 70%;
    }
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 623px) {
    .navbar-toggler {
        display: none;
    }

    .hero {
        padding-left: .5em;
    }

    .socialcard .cardheading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conversions {
        padding: 1em;
        align-items: center;
    }

    .socialcard h1,
    .socialcard p {
        width: 80%;
    }

    @media (max-width: 719px) {
        .companylogo .cardheading {
            width: 80%;
            padding: .5em;
        }

        .cardheading h1 {
            padding-top: 0;
        }
    }

    .coversions h1 {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .templates {
        /* height: auto; */
        padding: 2em;
    }

    .integrations img {
        width: 70%;
    }

    .widget {
        height: auto;
        gap: 6em;
    }

    .widget .left {
        width: 80%;
        gap: 1em;
    }

    .widget .input {
        width: 80% !important;
    }

    .widget .content .right {
        width: 80%;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    .widget .content .right img {
        width: 40% !important;
        height: 60% !important;
    }

    .story {
        gap: 2em;
    }
}

@media (max-width: 540px) {
    .image .right {
        padding-top: 2em;
    }

    .widget .input {
        width: 75% !important;
    }

    .widget.left {
        padding: 0;
    }

    .widget .content {
        gap: 0;
    }

    .footer {
        padding: 40px 56px;
    }
}

@media (max-width:520px) {
    .footer-col {
        width: 50%;
    }
    .reviews .cardheading p{
        width: 80%;
    }
}

@media(max-width: 480px) {
    .herosection {
        min-height: 1467px;
    }

   .hero .content p {
        width: auto;
        
    }
    .hero .logo p{
        text-align: center;
    }
    .hero .content {
        width: 80%;
        min-height: 540px;
    }

    .hero .content .input {
        width: 80% !important;
    }

    .image .insta {
        left: -8%;
    }
    .brands{
        width: auto;
    }

    .hero .content p {
        width: auto;
    }

    .widget .content {
        gap: 17em;
    }

    .reviews .cardheading {
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content h1,
    .cardheading h1,
    .coversions h1,
    .templates h1,
    .cont h1,
    .pricont h1,
    .dive .left h1 {
        font-size: 36px !important;
    }

    .footer-col {
        width: 100%;
    }
}